 /* Global Styles */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-weight: bold;
 }

 /* Це коментар в CSS */
 /* 
 Відстань зверху 10px 
 Відстань справа 0px 
 Відстань знизу 5px 
 Відстань зліва 0px 
 */
 .alert {
     margin: 10px 0 5px 0;
 }


 #footer {
    padding-top: 10px;
}

#footer::before {
    content: "";
    display: block;
    border-top: 1px solid #dee2e6;
    width: 98.5%; /* Змініть значення відсотків на те, яке вам потрібно */
    margin: 0 auto; /* Це допомагає вирівняти лінію по центру */
}

 /* Groups Selector */
 #group-selector {
     margin-top: 10px;
 }

 #group-selector label {
     line-height: calc(1.5em + .75rem + 2px);
 }

 